@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: NotoSansKR; 
  src: url(../fonts/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: CaviarDreams;
  src: url(../fonts/CaviarDreams.ttf);
}


