/* Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal_content {
    margin: auto;
    border: 1px solid #888;
    max-width: 90%;
    min-width: 320px;
    max-height: 95%;
    z-index: 9999;
}

.modal_content.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.modal_header {
    width: 100%;
    background-color: #fefefe;
    padding: 1rem 1.2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.modal_header:after , .modal_header:before {
    content: '';
    display: table;
    clear: both;
}

.modal_header .modal_title {
    color: #363636;
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -1.3px;
    float: left;
    position: relative;
    top: 0.35rem;
}

/* The Close Button */
.modal_header .modal_close {
    color: #aaaaaa;
    float: right;
    font-size: 2.3rem;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.modal_header .modal_close:hover,
.modal_header .modal_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal_body {
    padding: 1.4rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fefefe;
    width: auto;
    max-height: 70vh;
    overflow-y: auto;
}

.modal_body::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
.modal_body::-webkit-scrollbar-thumb {
  background: #59BCCC;
}

.modal_close { cursor: pointer; color: #000; }

.modal_footer {
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fefefe;
    border-top: 1px solid #ddd;
}

.modal_footer .btn_block {
    text-align: right;
}

.modal_footer .btn_block button, .modal_footer .btn_block button a {
    margin-left: 0.7rem;
}

.career_box {
    margin-bottom: 2em;
    color: #000;
}

.career_box .career_title {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 0.8em;
}

.career_box .career_info {
    margin-bottom: 0.8em;
    line-height: 1.5;
}

.career_box .career_link {
    color: #ff6f61;
    color: var(--main-color);
    text-decoration: underline;
}