@charset "utf-8";
/* CSS Document */

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

::-webkit-selection { background: #ff6f61; background: var(--main-color); color: #fff; }

::-o-selection { background: #ff6f61; background: var(--main-color); color: #fff; }

::-moz-selection { background: #ff6f61; background: var(--main-color); color: #fff; }

::-ms-selection { background: #ff6f61; background: var(--main-color);  color: #fff; }

::selection { background: #ff6f61; background: var(--main-color); color: #fff; }

body {
    font-family: 'CaviarDreams', 'NanumSquare', 'NotoSansKR';
    font-weight: 400;
    background: #f0f0f0;
    background-color: var(--bg-color);
    color: #000;
    color: var(--m-font);
}

/* dark mode css */
.thema_wrapper {
    position: fixed;
    bottom: 5%;
    left: 5%;
    z-index: 999999;
}

.thema_wrapper .thema_btn {
    display: inline-block;
    padding: 1em;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px 0 rgba(89, 89, 89, 0.31);
    box-shadow: 0px 3px 5px 0 rgba(89, 89, 89, 0.31);
    box-sizing: border-box;
}

.thema_wrapper .thema_btn i {
    font-size: 2em;
    color: #FCA732;
}

/*header부분*/
header {
    position: relative;
    height: 100vh;
    background: #94c3cc;
    background: var(--header-bg);
}

#top_nav {
    position: relative;
    clear: both;
    width: 100%;
    height: 60px;
    line-height: 70px;
    box-sizing: border-box;
    z-index: 99999999 !important;
    transition: all 1.2s ease-in;
}

#top_nav.scroll {
    position: fixed;
    top: 0;
    background-color: rgba(240,240,240,0.92);
    background-color: var(--nav-bg);
    border-bottom: 1px solid #ddd;
    border-bottom: 1px solid var(--nav-border);
}

#top_nav #gnd_right #logo {
    width: 300px;
    margin-left: 20px;
    transition: all .4s ease-in;
}

.logo {
    width: 250px !important;
}

.menu-trigger {
    display: none;
}

#top_nav #gnd_left {
    float: right;
    margin-right: 30px;
    font-weight: 400;
}

#top_nav #gnd_left li {
    display: inline-block;
    font-size: 1.25em;
    margin-right: 40px;
    font-family: 'NanumSquare', 'NotoSansKR';
}

#photo {
    width: 55%;
    height: 73%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 8vh;
    background: url("../images/bg/sea4.jpg") center center no-repeat;
    background-size: cover;
}

/*네모 선 그리기*/
#photo > span {
    background-color: #fff;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
}

#photo span:nth-child(1) {
    width: 80%;
    height: 7px;
    top: 10%;
    left: 10%;
    -webkit-animation: line .7s ease-in forwards;
    -o-animation: line .7s ease-in forwards;
    -moz-animation: line .7s ease-in forwards;
    -ms-animation: line .7s ease-in forwards;
    animation-name: line .7s ease-in forwards;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
}

#photo span:nth-child(2) {
    width: 7px;
    /*.height: 80%;*/
    top: 10%;
    right: 10%;
    -webkit-animation: line_vertical .7s ease-in forwards;
    -o-animation: line_vertical .7s ease-in forwards;
    -moz-animation: line_vertical .7s ease-in forwards;
    -ms-animation: line_vertical .7s ease-in forwards;
    animation-name: line_vertical .7s ease-in forwards;
    animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
    -o-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    -ms-animation-delay: 1.7s;
}

#photo span:nth-child(3) {
    /*.width: 80%;*/
    height: 7px;
    right: 10%;
    bottom: 10%;
    -webkit-animation: line .7s ease-in forwards;
    -o-animation: line .7s ease-in forwards;
    -moz-animation: line .7s ease-in forwards;
    -ms-animation: line .7s ease-in forwards;
    animation-name: line .7s ease-in forwards;
    animation-delay: 2.4s;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;
    -ms-animation-delay: 2.4s;
}

#photo span:nth-child(4) {
    width: 7px;
    height: 80%;
    bottom: 10%;
    left: 10%;
    -webkit-animation: line_vertical .7s ease-in backwards;
    -o-animation: line_vertical .7s ease-in backwards;
    -moz-animation: line_vertical .7s ease-in backwards;
    -ms-animation: line_vertical .7s ease-in backwards;
    animation-name: line_vertical .7s ease-in backwards;
    animation-delay: 3.1s;
    -webkit-animation-delay: 3.1s;
    -o-animation-delay: 3.1s;
    -moz-animation-delay: 3.1s;
    -ms-animation-delay: 3.1s;
}

/*네모 선 그리기*/

#home_text {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999;
}

#home_text > h3 {
    width: 300px;
    font-size: 1.3em;
    font-weight: 300;
    position: absolute;
    top: 27vh;
    margin-left: -130px;
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    font-family: 'CaviarDreams', 'NanumSquare';
}

#photo h1 {
    width: 600px;
    font-size: 6em;
    font-weight: bolder;
    color: #ff6f61;
    color: var(--main-color);
    display: none;
    position: absolute;
}

.txt_bg {
    position: absolute;
    background: url(../images/bg/txt/text2.png) center no-repeat;
    top: -10%;
    background-size: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0 auto;
    z-index: 99;
    transition: all .4s;
    -webkit-animation: opacity 2.1s ease-in forwards;
    -o-animation: opacity 2.1s ease-in forwards;
    -moz-animation: opacity 2.1s ease-in forwards;
    -ms-animation: opacity 2.1s ease-in forwards;
    animation-name: opacity 2.1s ease-in forwards;
    animation-delay: 3.8s;
    -webkit-animation-delay: 3.8s;
    -o-animation-delay: 3.8s;
    -moz-animation-delay: 3.8s;
    -ms-animation-delay: 3.8s;
}

.txt_bg > p {
    text-indent: -999999px;
}

/*header부분*/


section {
    margin-top: 200px;
}

section:nth-of-type(1) {
    margin-top: 80px;
}

section:last-of-type {
    margin-top: 0px;
}

/*about me*/
#about {
    position: relative;
    background: #f0f0f0;
    background: var(--bg-color);
    box-sizing: content-box;
    font-family: 'NanumSquare', 'NotoSansKR';
}

.title {
    position: relative;
    font-size: 2.5em;
    display: block;
    color: #000;
    color: var(--m-font);
    text-align: center;
    width: 100%;
    top: 50px;
    font-family: 'CaviarDreams', 'NanumSquare';
    margin-bottom: 100px;
    letter-spacing: 4px;
}

.title::after,
.title::before {
    content: ' - ';
    color: inherit;
}




#about .intro {
    position: relative;
    width: 100%;
    clear: both;
    display: block;
    height: 500px;
    box-sizing: content-box;
}

#about .intro h2 {
    position: relative;
    display: inline-block;
    font-size: 3.5em;
    font-weight: 300;
    margin-top: 100px;
    left: 10%;
}

#about .intro h2 > span {
    color: #ff6f61;
    color: var(--main-color);
}

#about .intro h3 {
    position: absolute;
    display: inline-block;
    margin-top: 200px;
    font-size: 1.2em;
    top: 0px;
    left: 10%;
    width: 40%;
    font-weight: 400;
    line-height: 1.8;
    text-indent: 10px;
}

#about .intro h3 > span {
    color: #3b7171;
    font-weight: 600;
    /*font-family: 'NotoSansKR','NanumSquare';*/
}

#about .intro img {
    position: absolute;
    right: 15%;
    width: 400px;
    display: block;
    margin-top: 35px;
}

#about div {
    font-size: 1.15em;
    position: relative;
}

#about .info_list {
    margin-left: 5px;
    margin-top: 3em;
    text-align: left;
}

#about .info_list li {
    position: relative;
    width: 100%;
    margin-bottom: 2em;
    line-height: 1.2;
    display: flex;
}

#about .info_list li .date {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 15px;
}

#about div > h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

#about div > h2 > img {
    width: 45px;
    position: relative;
    top: 13px;
    margin-right: 15px;
}

#about .info_wrapper {
    position: relative;
    text-align: center;
    margin: 5em auto;
}

#about .edu {
    width: 60%;
}

#about .license {
    width: 50%;
}

#about .skill {
    width: 100%;
    clear: both;
    text-align: center;
}

#about .skill p:first-of-type {
    margin-top: 50px;
    margin-bottom: 10px;
}

#about .skill p {
    margin-bottom: 30px;
    position: relative;
}

#about .skill > h2 {
    text-align: center;
}

#about .skill > ul {
    margin: 0 auto;
    width: 60%;
    position: relative;
    display: block;
}

#about .skill > ul li {
    margin: 0 auto;
    position: relative;
    text-align: left;
    margin-bottom: 20px;
    box-sizing: content-box;
}

#about .skill > ul li .list {
    background-color: #E2E2E2;
    background-color: var(--skill-bg);
    height: 20px;
    border: 1px solid #C1BBBB;
    border: 1px solid var(--skill-border);
    box-sizing: border-box;
    position: relative;
}

#about .skill > ul li .list > span {
    position: absolute;
    transition: all .4s;
    display: inline-block;
    text-align: right;
    height: 20px;
    top: -1px;
    left: -1px;
    /*background-color:#ff6f61;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6f61+1,ff9f96+25,ffc2bc+47,7cc1cc+73,4db9cc+100 */
    background: #ff6f61;
    background: var(--main-color);
    /* Old browsers */
    /*#7cc1cc 71%*/
    background: -moz-linear-gradient(-45deg, #ff6f61 1%, #ff9f96 25%, #ffc2bc 47%, #7cd6cc 73%, #4db9cc 100%);
    background: -moz-linear-gradient(-45deg, var(--main-color) 1%, #ff9f96 25%, #ffc2bc 47%, #7cd6cc 73%, #4db9cc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff6f61 1%, #ff9f96 25%, #ffc2bc 47%, #7cd6cc 73%, #4db9cc 100%);
    background: -webkit-linear-gradient(-45deg, var(--main-color) 1%, #ff9f96 25%, #ffc2bc 47%, #7cd6cc 73%, #4db9cc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff6f61 1%, #ff9f96 25%, #ffc2bc 47%, #7cd6cc 73%, #4db9cc 100%);
    background: linear-gradient(135deg, var(--main-color) 1%, #ff9f96 25%, #ffc2bc 47%, #7cd6cc 73%, #4db9cc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6f61', endColorstr='#4db9cc', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#about .skill > ul li:nth-of-type(1) .list span {
    width: 85%;
    --width: 85%;
}

/*ps*/
#about .skill > ul li:nth-of-type(2) .list span {
    width: 79%;
    --width: 79%;
}

/*ai*/
#about .skill > ul li:nth-of-type(3) .list span {
    width: 90%;
    --width: 90%;
}

/*html*/
#about .skill > ul li:nth-of-type(4) .list span {
    width: 86%;
    --width: 86%;
}

/*css*/
#about .skill > ul li:nth-of-type(5) .list span {
    width: 70%;
    --width: 70%;
}

/*javascript*/
#about .skill > ul li:nth-of-type(6) .list span {
    width: 75%;
    --width: 75%;
}

/*jquery*/

.skill_move {
    -webkit-animation: line_hor 1.8s cubic-bezier(.4, .1, .71, .9);
    -o-animation: line_hor 1.8s cubic-bezier(.4, .1, .71, .9);
    -moz-animation: line_hor 1.8s cubic-bezier(.4, .1, .71, .9);
    -ms-animation: line_hor 1.8s cubic-bezier(.4, .1, .71, .9);
    animation-name: line_hor 1.8s cubic-bezier(.4, .1, .71, .9);
}

.percent {
    font-size: .8em;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #59BCCC;
    display: inline-block;
    position: relative;
    color: #fff;
    top: -80px;
}

/*about me*/

/*project*/
#projects {
    position: relative;
}


#projects .portfolio,
.portfolio_2 img {
    position: relative;
    margin-bottom: 100px;
    text-align: inherit;
}

#projects .portfolio {
    text-align: right;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#projects .portfolio:first-of-type {
    margin-top: 150px;
}

#projects .portfolio:after {
    content: '';
    display: block;
    clear: both;
}


.portfolio img,
.portfolio_2 img {
    position: relative;
    width: 55%;
    display: inline-block;
}

.portfolio img {
    right: 0;
    text-align: right;
}

.portfolio_2 img {
    left: 0;
}

.portfolio > .sub_txt {
    float: left;
    margin-left: 50px;
}

.portfolio_2 > .sub_txt {
    float: right;
    margin-left: 50px;
}

.sub_txt {
    width: 40%;
    margin-top: 200px;
}

.sub_txt h4 {
    font-size: 1.35em;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.2;
}

.sub_txt > p {
    text-align: right;
    margin-top: 10px;
    font-size: 1.3em;
}

.sub_txt > p:first-of-type {
    margin-top: 20px;
}

.portfolio h2,
.portfolio_2 h2 {
    font-size: 2.15em;
    font-weight: 800;
    display: inline-block;
    width: 100%;
}

.portfolio h2::after,
.portfolio_2 h2::after {
    content: '|';
    margin-left: 5px;
}

.portfolio h2 {
    text-align: right;
}

.portfolio_2 h2 {
    text-align: right;
}

.portfolio h2 > p,
.portfolio_2 h2 > p {
    font-size: .6em;
    font-weight: 300;
    margin-left: 8px;
    display: inline-block;
    font-family: 'NanumSquare', 'NotoSansKR';
    color: #333;
    color: var(--s-font);
}

.i_link_wrapper {
    text-align: right;
    margin-top: 1.5em;
}

.i_link_wrapper .icon_link {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #f0f0f0;
    border: 1.5px solid #3f3f3f;
    border-radius: 50%;
    padding: 0.8em;
}

.i_link_wrapper .icon_link:hover {
    border: 1.5px solid #ff6f61;
    border: 1.5px solid var(--main-color);
    transition: all .5s ease-in;
}

.i_link_wrapper .icon_link img {
    width: 100%;
}

.btn {
    width: 180px;
    height: 60px;
    border: 1.5px solid #ff6f61;
    border: 1.5px solid var(--main-color);
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    margin: 30px 0 0 15px;
}


.btn a {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 1.5em;
    color: #ff6f61;
    color: var(--main-color);
    line-height: 60px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
}

.eff {
    width: 100%;
    height: 100%;
    left: -100%;
    background: #ff6f61;
    background: var(--main-color);
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
}

.btn:hover .eff {
    left: 0;
}

.btn:hover a {
    color: #fff !important;
}

/*project*/

/* Design*/
#design {
    width: 100%;
    background: #8ab2a4;
    padding-bottom: 130px;
    text-align: center;
}


#design .img-list {
    text-align: left;
    margin-top: 150px;
    width: 89%;
    max-width: 1217px;
    margin-left: auto;
    margin-right: auto;
}

#design .img-list li {
    height: 240px;
    width: 240px;
    margin: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
    transition: all 1s ease-in-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
}


#design .img-list > li > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#design .img-list > li > a p {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: block;
    background: #DA291C;
    font-size: 50px;
    color: #fff;
    transition: all .4s;
}

#design .img-list > li > a p > img {
    position: absolute;
    width: 30%;
    top: 35%;
    z-index: 100;
    left: 0%;
    right: 0;
    margin: auto;
}

#design .img-list > li > a .imgSrc {
    width: 130%;
    max-width: 1300px;
    min-height: 150%;
    position: absolute;
    top: -25%;
    left: -15%;
    z-index: 99;
}

#design .img-list > li > a:hover p {
    opacity: 0.7;
}

/* Design*/

#contact {
    width: 100%;
    height: 84vh;
    background: url(../images/bg/bg2.jpg) center 65% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

#contact > div {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
}

#contact > div > h1 {
    color: #fff;
}

#contact > div > ul {
    position: relative;
    font-size: 1.65em;
    top: 18%;
    font-family: 'CaviarDreams', 'NanumSquare';
}

#contact > div > ul li {
    height: 100px;
}

#contact > div > ul li > img {
    width: 35px;
    position: relative;
    top: 14px;
    margin-right: 5px;
}

footer {
    position: relative;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    background: #3b7171;
    background: var(--footer-bg);
    color: #f0f0f0;
    color: var(--c-font);
    box-sizing: content-box;
}


@keyframes line {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes line_hor {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        width: var(--width);
    }
}

@keyframes line_vertical {
    0% {
        height: 0;
    }

    100% {
        height: 80%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.clear {
    clear: both;
}

.br {
    border: 1px solid #000;
    box-sizing: border-box;
}

.contents {
    position: relative;
}

.on {
    /*border-bottom: 4px solid #3b7171;*/
    box-sizing: border-box;
    /*.color:#3b7171;*/
    color: #ff6f61 !important;
    color: var(--main-color) !important;
    transition: all .2s;
}